@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4edf7;
  --foreground: #0f0812;
  --text: #1a0e20;
  --primary: #4c275d;
  --secondary: #cc85a8;
  --accent: #9b4148;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0812;
    --foreground: #f4edf7;
    --text: #ebdff1;
    --primary: #c7a2d8;
    --secondary: #7a3357;
    --accent: #be646c;
  }
}

body {
  color: var(--text);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
